body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: black;
    height: 100vh;
}

/* <------------------------- Navigation Bar -------------------------> */
.navbar {
    background-color: #060606;
    padding: 15px;
    color: white;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 200;
    overflow: hidden;
}

#navlogo {
    width: 180px;
    height: 40px;
}

.navlink {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 5px 5px;
    margin: 0px 45px;
    text-decoration: none;
}

.sidebarbtn {
    background: none;
    border: none;
    color: white;
    font-size: 32px;
    cursor: pointer;
    margin-right: 22%;
}

.navlink:hover, .menu-btn:hover, #navlogo:hover {
    background-color: #555;
    border-radius: 50%;
}

/* <------------------------- Side Navigation Bar -------------------------> */
.sidebar {
    position: fixed;
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    background-color: #060606;
    overflow-x: hidden;
    transition: 400ms;
    z-index: 2;
}

.sidebar a {
    display: grid;
    grid-template-columns: repeat(2, 45px);
    padding: 25px 25px 25px 20px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color: #555;
}

#sidebar-img {
    margin-top: -10px;
    padding: 5px;
    height: 30px;
    width: 30px;
}

/* <------------------------- Footer -------------------------> */
.footer-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    background-color: #F0ECE5;
    height: 280px;
    width: auto;
    font-family: 'Inconsolata';
    padding: 60px;
    gap: 20px;
}

.social-media img {
    margin-top: -20px;
    margin-left: 50px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.footer-logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#footer-img {
    width: 320px;
    height: 60px;
}

.footer-contact {
    font-family: 'Inconsolata', sans-serif;
    text-align: center;
}

.copyright {
    text-align: center;
}

.copyright #studio {
    font-size: 22px;
}

.back-container {
    position: relative;
}

.back-container img {
    position: absolute;
    bottom: 50px;
    right: 100px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

/* <------------------------- Responsiveness -------------------------> */
/* Extra small devices (phones) */
@media only screen and (max-width: 600px) {
    /* Navigation Bar */
    .navbar {
        padding: 12px 0px;
    }
    #navlogo {
        width: 90px;
        height: 40px;
    }
    .navlink {
        padding: 0px;
        margin: 0px 15px;
        font-size: 12px;
    }
    .sidebarbtn {
        font-size: 20px;
        margin-right: 10%;
    }

    /* Side Navigation  Bar */    
    .sidebar a {
        padding: 20px 20px 20px 15px;
        font-size: 15px;
    }
    #sidebar-img {
        margin-top: -8px;
        height: 25px;
        width: 25px;
    }

    /* Footer */
    .footer-wrapper {
        padding: 15px;
        height: 380px;
        grid-template-columns: repeat(1, 1fr);
    }

    .social-media {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 12px;
    }

    .social-media img {
        margin-left: 0px;
        width: 20px;
        height: 20px;
    }

    #footer-img {
        width: 220px;
        height: 66px;
    }
    
    .footer-contact {
        font-size: 12px;
    }
    
    .copyright {
        margin-top: -30px;
        font-size: 12px;
    }
    
    .copyright #studio {
        font-size: 14px;
    }
    
    .back-container img {
        bottom: 50px;
        right: 70px;
        width: 25px;
        height: 25px;
    }
}